@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: fit-content;
  color: #fff;
  padding: 0.5rem 2rem;
}
.navbar i {
  color: rgb(237, 29, 36);
  font-size: 2em;
  display: none;
}
.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigate a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.3em 1em;
}
.navigate a:hover {
  color: #fff;
  background-color: rgb(237, 29, 36);
  border-radius: 5px;
  transition: 0.3s ease-out;
}
.logo {
  width: 25%;
  height: 10%;
}
.logo img {
  width: 7em;
  height: 100%;
}
.characters {
  margin: 10rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.card {
  cursor: pointer;
  margin: 0 auto;
  grid-column: span 1;
  width: 100%;
  height: 100%;
  max-height: 40rem;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.card h1 {
  font-family: "Lexend", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 1rem;
}
.card p {
  font-family: "Poppins", sans-serif;
  margin: 1rem 1rem;
}
.slider {
  width: 100%;
  height: 50rem;
  margin: 0.5rem 0;
  border: none;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page-title {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 1rem;
}
.description {
  height: 100vh;
  position: relative;
}
.description i {
  color: rgb(237, 29, 36);
  font-size: 2em;
  position: absolute;
  top: 1rem;
  right: 5rem;
}
.description-card {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.description-card img {
  rotate: 20deg;
  width: 50%;
  height: 50%;
  object-fit: contain;
  object-position: center;
  margin-right: 4rem;
}
.description-card .details h1 {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 1rem;
}
.card h5 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 1rem;
}
.details h5 {
  font-family: "Poppins", sans-serif;
}
.details p {
  font-family: "Poppins", sans-serif;
  margin: 1rem 1rem;
}
@media screen and (max-width: 1350px) {
  .characters {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar a {
    display: none;
  }
  .navbar i {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  .characters {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo {
    width: 50%;
  }
  .logo img {
    width: 5em;
  }
  .description-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .description-card img {
    margin: 0 auto;
  }
  .details h1 {
    margin: 0;
  }
  .details p {
    margin: 0;
  }
}
